@white: #FFFFFF;
@black: #000000;
@theme1: #FFCC00;
@theme2: #FF9900;
@bgEdit: #F5F5F5;
@bgColor: #FAFAFA;
@disable: #F0F0F0;
@checked: #FF9900;
@unCheck: #F0F0F0;
@iconNext: #DEDEDE;
@btnMobile: #00D894;
@btnBrowse: #FFCC00;
@btnFollow: #FF2A00;
@btnDelete: #FF403C;
@btnUpdate: #FFBB00;
@important: #FF403C;
@btnRelease: #0063FF;
@typeColor1: #FF6E0F;
@typeColor2: #FFDF05;
@typeColor3: #FFA403;
@fontColor1: #333333;
@fontColor2: #666666;
@fontColor3: #999999;
@fontColor4: #CCCCCC;
@fontColor5: #DEDEDE;
@priceColor: #f43a00;
@stateColor: #F0F0F0;
@stateColor1: #00D894;
@stateColor2: #F2ABA9;
@stateColor3: #ECD300;
@borderColor1: #DEDEDE;
@borderColor2: #F0F0F0;
@borderColor3: #CCCCCC;
@lazyBgColor: #F5F5F5;
@mask: rgba(0, 0, 0, .5);
@transparent: transparent;
@transition150: all 150ms ease;
@transition300: all 300ms ease;
@boxShadow05: rgba(0, 0, 0, 0.05);
@boxShadow15: rgba(0, 0, 0, 0.15);

@fontSize16: unit(16, rpx);
@fontSize18: unit(18, rpx);
@fontSize20: unit(20, rpx);
@fontSize22: unit(22, rpx);
@fontSize24: unit(24, rpx);
@fontSize26: unit(26, rpx);
@fontSize28: unit(28, rpx);
@fontSize30: unit(30, rpx);
@fontSize32: unit(32, rpx);
@fontSize34: unit(34, rpx);
@fontSize36: unit(36, rpx);
@fontSize40: unit(40, rpx);
@fontSize42: unit(42, rpx);
@fontSize44: unit(44, rpx);
@fontSize46: unit(46, rpx);
@fontSize48: unit(48, rpx);
@fontSize50: unit(50, rpx);
@fontSize52: unit(52, rpx);
@fontSize54: unit(54, rpx);
@fontSize56: unit(56, rpx);
@fontSize58: unit(58, rpx);
@fontSize60: unit(60, rpx);
@fontSize62: unit(62, rpx);
@fontSize64: unit(64, rpx);
@fontSize66: unit(66, rpx);
@fontSize68: unit(68, rpx);
@fontSize70: unit(70, rpx);
@topBarHeight: 40px;
@borderRadius10: unit(10, rpx);
@borderRadius15: unit(15, rpx);
@borderRadius20: unit(20, rpx);
@borderRadius30: unit(30, rpx);
@borderRadius40: unit(40, rpx);
@borderRadius100: 100%;
